header {
  display: flex;
  width: 100%;
  height: 80px;
  background-color: #7B7B7B;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0; 
  padding: 0 1rem;
  z-index: 999;
  box-sizing: border-box;
  justify-content:space-between;
}

body {
  font-family: sans-serif;
  background-color: #000000;
}

html{
  scroll-behavior: smooth;
}

.main {
  padding-top: 80px;
}

.menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #000000;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}

.menu-btn span:before {
    bottom: 8px;
}

.menu-btn span:after {
    top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}

#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}

#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}

#menu-btn-check {
    display: none;
}

#menu-btn-check:checked ~ .menu-content {
    left: 0;
}

.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 80;
    background-color: #7B7B7B;
    transition: all 0.5s;
}

.menu-content ul {
    padding: 70px 10px 0;
}

.menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
}

.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}

.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}

.title {
  margin-right: auto;
}
 
.menu-item {
  list-style: none;
  display: inline-block;
  padding: 10px;
}


.page_top_btn {
position: fixed;
bottom: 10px;
right: 10px;
font-weight: bold;
font-size: 15px;
padding: 0.7em;
text-align: center;
background: rgb(255, 0, 0);
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
transition: opacity 0.3s ease, visibility 0.3s ease; /* アニメーション */
opacity: 1;
visibility: visible;
}

.accordion-003 {
}

.accordion-003 summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1em 2em;
    color: #ff0000;
    cursor: pointer;
    left: -20px;
    top: 90px;
}

.accordion-003 summary::-webkit-details-marker {
    display: none;
}

.accordion-003 summary::after {
    transform: translateY(-25%) rotate(45deg);
    width: 7px;
    height: 7px;
    border-bottom: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    content: '';
    transition: transform .3s;
    position: absolute;
    right: 0px;
}

.accordion-003[open] summary::after {
    transform: rotate(225deg);
}

.accordion-003 p {
    transform: translateY(-10px);
    opacity: 0;
    margin: 0;
    padding: .3em 2em 1.5em;
    color: #ff0000;
    transition: transform .5s, opacity .5s;
}

.accordion-003[open] p {
    transform: none;
    opacity: 1;
}

.content.white {
height: 500px;
background-color: #fff;
}


.content.gray {
height: 500px;
background-color: #eee;
}


.space-between {
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
}

iframe {
	width: 80vw;
        max-height: 80vh;
        aspect-ratio: 4 / 3;
}

img{
    max-width: 100%;
    height: auto;
}

@media (min-width:961px){
    .hamburger-menu{
         display: none;
    }
}
@media (max-width:960px) and (min-width:768px){
    .hamburger-menu{
         display: none;
    }
}
@media (max-width:767px){
    .menu-group{
         display: none;
    }
}
